<div class="space-y-6">
  <div class="grid grid-cols-3 gap-4 content-evenly">
    @for (item of previewFiles(); track item) {
      <div class="relative aspect-square">
        <img [src]="item.imageSrc | async" class="object-cover aspect-square" />
        <button class="absolute -top-3 -right-3 h-6 w-6 text-red bg-off-white rounded-xl" (click)="removeItem(item.id)"><app-x-circle-icon class="h-6 w-6"/></button>
      </div>
    }
  </div>
  @if (uploadComplete()) {
    <p class="text-brown-100 text-lg">Uppladdning klar. Var vänlig och ladda upp mer om du vill.</p>
  }
  <div>
    <div class="col-span-full">
      <div class="mt-2 flex justify-center rounded-lg border border-dashed border-green-300 px-6 py-10">
        <div class="text-center">
          <svg class="mx-auto h-12 w-12 text-brown-100" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
          </svg>
          <div class="mt-4 flex flex-col content-center text-lg leading-6 text-brown-100">
            <label for="file-upload" class="relative cursor-pointer rounded-md bg-off-white font-bold text-brown-300 focus-within:outline-none focus-within:ring-2 focus-within:ring-green-300 focus-within:ring-offset-2 hover:text-brown-200">
              <span>Ladda upp en fil</span>
              <input [disabled]="isUploading()" id="file-upload" name="file-upload" type="file" accept="image/*,video/*" class="sr-only" (change)="onFileSelected($event)">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button type="submit" (click)="upload()" class="flex w-full justify-center rounded-md bg-green-600 px-3 py-1.5 text-lg text-off-white font-semibold leading-6 shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
      @if(isUploading()) {
        <div class='flex space-x-2 justify-center items-center h-6'>
          <span class='sr-only'>Loading...</span>
          <div class='h-2 w-2 bg-off-white rounded-full animate-bounce [animation-delay:-0.3s]'></div>
          <div class='h-2 w-2 bg-off-white rounded-full animate-bounce [animation-delay:-0.15s]'></div>
          <div class='h-2 w-2 bg-off-white rounded-full animate-bounce'></div>
        </div>
      } @else {
        Ladda upp
      }
    </button>
  </div>
</div>
