/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(src/assets/fonts/Montserrat-Light.ttf);
  }

  @font-face {
    font-family: 'Playlist';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(src/assets/fonts/Playlist_script.otf);
  }

  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }
}
